.wrapper_header {
	max-width: 100%;
	color: #fff;
	background-color: #333;
	font-size: 15px;
}

.first_header {
	display: flex;
	max-width: 1020px;
	margin: 0 auto;
}

.sex_selection, .logo, .user_actions {
	width: 33.3%;
}

.sex_selection_list, .user_actions {
	height: 45px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'montserrat_light', Helvetica, Arial, sans-serif;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 0;
}

.logo:after {
	display: flex;
	content: '';
	width: 5px;
	height: 5px;
	border: 1px solid #333;
	border-radius: 50%;
	margin: 0 0 6px -12px;
}

.logo_text {
	padding: 3px 13px 3px 7px;
	color: #333;
	background-color: #fff;
}

.logo_text-first {
	padding: 3px;
	margin-right: 2px;
}

.user_wish, .buy {
	width: 30px;
	height: 30px;
	padding: 10px;
}

.user_wish img, .buy img {
	max-width: 100%;
}

.buy {
	background-color: #7E94C4;
}
